testvids/locationaccuracytest1.mp4
testvids/locationaccuracytest2.mp4
testvids/phonewaving.mp4
testvids/spedupdrone.mp4
testvids/old/clear.mp4
testvids/old/dotpaper.mp4
testvids/old/dotsbigsmalllit.mp4
testvids/old/firstSub.mp4
testvids/old/gblight10.mp4
testvids/old/gpnotebookcov10.mp4
testvids/old/highlighterdim7.mp4
testvids/old/highlighterlit7.mp4
testvids/old/kb.mp4
testvids/old/largedotdim.mp4
testvids/old/largedotlit.mp4
testvids/old/shapeslit.mp4
testvids/old/strokedim8.mp4
testvids/old/strokelit8.mp4
testvids/old/text2.mp4
testvids/old/texty.mp4
testvids/old/tsec.mp4
testvids/old/wood9dim.mp4
testvids/old/wood9lit.mp4
